.SideNav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: all 0.3s ease;
    vertical-align: middle;
    
}

.SideNav a {
    text-decoration: none;
    padding-bottom: 15px;
    font-size: 25px;
    color: rgb(197, 197, 197);
    display: block;
}
.SideNav a:hover {
    transition: all 0.3s ease;
    text-shadow: 0px 0px 15px white;
    color: #f1f1f1;
}
.Links {
    position: relative;
    top: 40vh;
    transform: translateY(-50%);
}
.Brand {
    color: white;
    font-size: 25px;
}
@media (max-width: 499px) {
    .SideNav {
        width: 100px;
    }
    .Links {
        top: 40vh;
    }
}